@import "helpers/_reset.scss";
@import "helpers/_fonts.scss";
/*@import "helpers/_variables.scss";*/

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: opensans, sans-serif;
	font-size: 13px;
	font-weight: 400;
}

a {
	text-decoration: none;
}


