@font-face {
    font-family: 'opensans';
    src: url('../../web/fonts/osbold/opensans-bold.eot');
    src: url('../../web/fonts/osbold/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../../web/fonts/osbold/opensans-bold.woff2') format('woff2'),
         url('../../web/fonts/osbold/opensans-bold.woff') format('woff'),
         url('../../web/fonts/osbold/opensans-bold.ttf') format('truetype'),
         url('../../web/fonts/osbold/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../../web/fonts/osexbold/opensans-extrabold.eot');
    src: url('../../web/fonts/osexbold/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../../web/fonts/osexbold/opensans-extrabold.woff2') format('woff2'),
         url('../../web/fonts/osexbold/opensans-extrabold.woff') format('woff'),
         url('../../web/fonts/osexbold/opensans-extrabold.ttf') format('truetype'),
         url('../../web/fonts/osexbold/opensans-extrabold.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../../web/fonts/oslight/opensans-light.eot');
    src: url('../../web/fonts/oslight/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../../web/fonts/oslight/opensans-light.woff2') format('woff2'),
         url('../../web/fonts/oslight/opensans-light.woff') format('woff'),
         url('../../web/fonts/oslight/opensans-light.ttf') format('truetype'),
         url('../../web/fonts/oslight/opensans-light.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../../web/fonts/osregular/opensans-regular.eot');
    src: url('../../web/fonts/osregular/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../../web/fonts/osregular/opensans-regular.woff2') format('woff2'),
         url('../../web/fonts/osregular/opensans-regular.woff') format('woff'),
         url('../../web/fonts/osregular/opensans-regular.ttf') format('truetype'),
         url('../../web/fonts/osregular/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../../web/fonts/ossmbold/opensans-semibold.eot');
    src: url('../../web/fonts/ossmbold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../web/fonts/ossmbold/opensans-semibold.woff2') format('woff2'),
         url('../../web/fonts/ossmbold/opensans-semibold.woff') format('woff'),
         url('../../web/fonts/ossmbold/opensans-semibold.ttf') format('truetype'),
         url('../../web/fonts/ossmbold/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}